@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* Example CSS */
html, body, #__next, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.flex-svg {
  flex: 1; /* Ensures the SVG takes up all available space */
  width: 100%;
  height: 100%;
}

.toolbar-wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}